{% extends 'base.html.twig' %}

{% block title %}Banco PHP{% endblock %}


 
   {% block body %}
<section class="bg-black text-white">
  <div class=" max-w-screen-x2 px-4 py-16 sm:px-6 lg:px-8 mx-auto bg-gray-800 mt-10 w-full">
    <div class="flex justify-center mb-20">
      <h2 class=" font-bold sm:text-4xl">Bem vindo ao Banco PHP</h2>
    </div>
    <div class= "flex justify-between mt-5">
      {% include 'home.html.twig' %}
    </div>

  
    <div
      class="mt-8 grid grid-cols-1 gap-8 md:mt-16 md:grid-cols-2 md:gap-12 lg:grid-cols-3"
    >
      {% if agencias|length > 0 %}
      {% for agencia in agencias %}
      <div class="flex items-start">
        <span class="flex-shrink-0 rounded-lg bg-gray-800 p-4">
          <span class="mdi mdi-bank"></span>
        </span>

        <div class="ml-4">
          <h2 class="text-lg font-bold">Agencia: {{ agencia.nomeAgencia }}, {{agencia.codigo}}</h2>

          <p class="mt-1 text-sm text-gray-300">
            Endereço: {{ agencia.endereco }} 
            <br/>
            Gerente: {{ agencia.gerente}}
          </p>
        </div>
      </div>
      {% endfor %}
      {% endif %}
    </div>
  </div>
</section>
{% endblock %} 



