{% extends 'base.html.twig' %}

{% block title %}Criar Conta{% endblock %}

{% block body %}
    <h1 class="text-4xl mb-10" >Criar Conta</h1>

    {{ include('conta_cliente/_form.html.twig') }}

    <a href="{{ path('app_cliente_show', {id:app.user.id}) }}">Voltar</a>
{% endblock %}
