{% extends 'base.html.twig' %}

{% block title %}New Conta{% endblock %}

{% block body %}
    <h1>Create new Conta</h1>

    {{ include('conta_cliente/_form.html.twig') }}

    <a href="{{ path('app_cliente_show', {id:app.user.id}) }}">Voltar</a>
{% endblock %}
