{% extends 'base.html.twig' %}

{% block title %}New Transacao{% endblock %}

{% block body %}
    <h1>Create new Transacao</h1>

    {{ include('transacaoTransferencia/_form.html.twig') }}

   
{% endblock %}
