{% extends 'base.html.twig' %}

{% block title %}Nova Transação{% endblock %}

{% block body %}
    <h1 class="text-4xl mb-10" >Criar nova transação</h1>

    {{ include('transacao/_form.html.twig') }}

    <a href="{{ path('app_transacao_index') }}">Cancelar</a>
{% endblock %}
