{% extends 'base.html.twig' %}

{% block title %}Gerente index{% endblock %}

{% block body %}
    <h1>Gerente index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for gerente in gerentes %}
            <tr>
                <td>{{ gerente.id }}</td>
                <td>
                    <a href="{{ path('app_gerente_show', {'id': gerente.id}) }}">show</a>
                    <a href="{{ path('app_gerente_edit', {'id': gerente.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="2">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('app_gerente_new') }}">Create new</a>
{% endblock %}
