{% extends 'base.html.twig' %}

{% block title %}New Gerente{% endblock %}

{% block body %}
    <h1>Create new Gerente</h1>

    {{ include('gerente/_form.html.twig') }}

    <a href="{{ path('app_gerente_index') }}">back to list</a>
{% endblock %}
